

.tooltip {
  -fx-background: rgba(30,30,30);
  -fx-text-fill: white;
  -fx-background-color: rgba(30,30,30,0.8);
}
/*
  RADIO BUTTON
*/
.radiobutton {
  -fx-text-fill:#EEEFEF;
}

.radiobutton .radio{

  -fx-background-color:#ffffff;
}


/*
  ICONS
*/

.firstLevelIcon {
  -fx-fill:#fcfcfc;
}

.secondLevelIcon {
  -fx-fill:#1471CD;
}

.thirdLevelIcon {
  -fx-fill:#51B071;
}

.fourLevelIcon {
    -fx-fill:#ED4D4E;
}


/*
  IMAGEBOX
*/
.imageBox {
  -fx-border-width:1 1 1 1;
  -fx-border-color:#F6F6F6;
  -fx-border-radius:3px;
  -fx-background-radius:3px;
}

/*
 FORMS
*/
.form {
  -fx-border-radius: 7px;
  -fx-border-width:1 1 1 1;
  -fx-border-color:#000000;
  -fx-background-color:#4E4E4E;
  -fx-background-radius:7px;
}

.contentForm {
  -fx-background-color:#565656;
  -fx-effect: dropshadow( three-pass-box , rgba(5,5,5,0.97), 12.85,0,0,0);
}

/*
 TABLEVIEW
*/
.tableView {
  -fx-background-color:#363636;
  -fx-border-color:transparent;
}

.tableView .column-header-background {
  -fx-background-color:#424242;
  -fx-cell-size:35px;
}

.tableView:focused {
  -fx-background-color:transparent;
}

.tableView:focused .table-row-cell:selected{
  -fx-background-color:#303d6d;
}

.table-row-cell:hover {
  -fx-background-color:#5f79d8;
}

.table-view .label{
  -fx-background-color: transparent;
  -fx-text-fill: #F9F9F9;
}

#tableColumn {
  -fx-background-color:transparent;
  -fx-font-family:"Open Sans Light";
  -fx-text-fill:#f4f4f4;
  -fx-alignment:CENTER-LEFT;
}

.table-row-cell{
    -fx-table-cell-border-color: #000000;
    -fx-cell-size:35px;
}

.table-row-cell:odd{
    -fx-background-color:#606060;
}

.table-row-cell:even{
    -fx-background-color:#696969;
}

.splitPane {
  -fx-background-color:#363333;
}

.splitPane *.split-pane-divider {
  -fx-background-color:#363333;
}

/*
 LISTVIEW
*/
.listView {
  -fx-background-color:transparent;
  -fx-background-radius:3px;
  -fx-border-width:1 1 1 1;
  -fx-border-color:#cccece;
  -fx-border-radius:3px;
}

.listView .list-cell:even {
  -fx-background-color:#232931;
  -fx-text-fill:#E9E9E9;
}
.listView .list-cell:odd {
  -fx-background-color:#393e46;
  -fx-text-fill:#E9E9E9;
}

.listView:focused .list-cell:selected {
  -fx-background-color:#303d6d;
}

.projectListView {
  -fx-background-radius:3px;
  -fx-background-color:#3D3D3D;
  -fx-text-fill:#B6B6B6;
}

.projectListView .list-cell:even {
  -fx-background-color:#1D1D1D;
  -fx-text-fill:#E0E0E0;
}

.projectListView .list-cell:odd {
  -fx-background-color:#404040;
  -fx-text-fill:#E0E0E0;
}

.projectListView:focused .list-cell:selected {
  -fx-background-color:#303d6d;
}




/*
 CARD
*/
.scrollPane {
  -fx-border-width:1 1 1 1;
  -fx-border-color:#6C6969;
  -fx-border-radius:3px;
  -fx-background-radius:3px;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.flowPane {
  -fx-background-color:#2C2A2A;
}

.card {
  -fx-border-radius: 3px;
  -fx-border-width:1 1 1 1;
  -fx-border-color:#6C6969;
  -fx-background-color:#3B3939;
  -fx-background-radius:3px;
}

.card:hover{
  -fx-border-width:1 1 1 1;
  -fx-background-color:#303d6d;
}

.cardDateContainer {
  -fx-background-color:#494848;
  -fx-background-radius:2px;
  -fx-border-width:1 1 1 1;
  -fx-border-color:#323232;
  -fx-border-radius:0 2 2 0;
}

.cardFirstLevelLabel {
  -fx-font-size:18px;
  -fx-text-fill:#ffffff;
  -fx-font-weight:bold;
}

.cardSecondLevelLabel {
  -fx-font-size:14px;
  -fx-text-fill:#ffffff;
}

.cardThirdLevelLabel {
  -fx-text-fill:#CECECE;
  -fx-font-size:12px;
}

.cardTopDescription {
  -fx-background-color:#494848;
  -fx-background-radius:2px;
  -fx-border-width: 1 1 1 1;
  -fx-border-color:#323232;
  -fx-border-radius:2px;
}


/*
 TEXTFIELD
 The textfield doesn't have a specified order.
*/
.textfield {
  -fx-background-color:#3D3D3D;
  -fx-background-radius:3px;
  -fx-text-fill:#B6B6B6;
  -fx-border-color:#2c2d32;
  -fx-border-width:1 1 1 1;
  -fx-border-radius:3px;
}

.wrongTextField {
  -fx-fill:#000000;
}

.correctlyTextField {
  -fx-fill:#00ff00;
}

.textArea {
  -fx-background-color:#3D3D3D;
  -fx-background-radius:2px;
  -fx-text-fill:#B6B6B6;
  -fx-border-color:#2c2d32;
  -fx-border-width:1 1 1 1;
  -fx-border-radius:2px;
}

.textArea .content {
  -fx-background-color:#3D3D3D;
  -fx-text-fill:#B6B6B6;
}

.scroll-pane {
  -fx-background-color: transparent;
}

.scroll-pane .viewport{
  -fx-background-color: transparent;
}

.scroll-pane .content{
  -fx-background-color: transparent;
}

.scroll-bar {
  -fx-background-color:transparent;

}
.scroll-bar .track {
  -fx-background-color:transparent;
}

.scroll-bar .thumb {
  -fx-background-color:#666666;
  -fx-background-insets:2,0,0;
  -fx-border-radius:5px;
}

.textArea .decrement-button, .textArea .increment-button {
  -fx-background-color:transparent;
}


/*
  CHOICEBOX AND COMBOBOX
*/
.choiceBox {
  -fx-background-color:#3D3D3D;
  -fx-text-fill:#FFA500;
}

.choice-box .context-menu {
  -fx-background-color:#3D3D3D;
}

.choice-box .menu-item:focused {
  -fx-background-color:#FFA500;
}

.choice-box .menu-item > .label {
   -fx-text-fill:#ffffff;
}

.choice-box .label {
   -fx-text-fill:#B6B6B6;
}

.choice-box .menu-item:focused > .label {
  -fx-text-fill:#000000;
}


/*
 LABELS
 The labels are ordered by importance and represented by a color.
*/

.firstLevelLabel {
  -fx-text-fill:#f4f4f4;
}

.secondLevelLabel {
  -fx-text-fill:#BEC4CB;
}

.thirdLevelLabel {
  -fx-text-fill:#cecece;
}

.lastLevelLabel {
  -fx-text-fill:#b5b4b4;
}

.systemLabel {
  -fx-text-fill:#ff0000;
}

.recoveryLabel {
  -fx-text-fill:#a5a4a4;
}

.recoveryLabel:hover {
  -fx-text-fill:#6F4CBB;
}

.formLabel {
  -fx-text-fill:#E6F0FA;
  -fx-font-family:"Montserrat Light";
  -fx-font-size:10px;
}

.projectDescriptionLabel {
  -fx-text-fill:#a0a0a0;
  -fx-font-family:"Open Sans";
  -fx-font-size:13px;
}

.cardLabel {
  -fx-fill:#EEEFEF;
  -fx-font-size:12px;
  -fx-text-fill:#EFEFEF;
}

.cardSmallLabel {
  -fx-text-fill:#9B9B9B;
  -fx-font-size:10px;
  -fx-font-family:"System";
}


/*
  SEPARATOR
*/
.separator{
}

.separator *.line {
  -fx-border-color:#3D3D3D;
}

/*
 BUTTONS
 The buttons are ordered by importance and represented by a color.
*/

.firstLevelButton {
  -fx-background-color:#2c7ef9;
  -fx-text-fill:#EEEFEF;
  -fx-border-width: 1 1 1 1;
  -fx-border-radius:2px;
  -fx-border-color:#176ded;
  -fx-font-family:"Montserrat Light";
}

.firstLevelButton:hover {
  -fx-background-color:#4b92fc;
}

.thirdLevelButton {
  -fx-background-color:#cccece;
  -fx-text-fill:#ffffff;
  -fx-border-width: 1 1 1 1;
  -fx-border-radius:2px;
  -fx-font-family:"Sanserif";
}

.thirdLevelButton:hover {
  -fx-border-color:#0069aa;
}

.lastLevelButton {
  -fx-background-color:#2C2D32;
  -fx-text-fill:#C5C5C5;
  -fx-border-width: 1 1 1 1;
  -fx-border-color:#6C6969;
  -fx-border-radius:2px;
}

.lastLevelButton:hover {
  -fx-background-color:#6B6F73;
}

.withBorderButton {
  -fx-background-color:#2F2F2F;
  -fx-text-fill:#F3F3F3;
  -fx-border-color:#585656;
  -fx-border-width:1 1 1 1;
  -fx-border-radius:3px;
}

.withBorderButton:hover {
  -fx-background-color:#4C4552;
}

.withoutOutLineButton {
  -fx-background-color:transparent;
  -fx-text-fill:#E2E2E2;
}

.withoutOutLineButton:hover {
  -fx-text-fill:#383838;
}

/*
  SPECIAL FOR PROJECT
*/

.topDescription {
  -fx-background-color:#3B3939;
}

.descriptionProject {
  -fx-background-color:#4E4E4E;
  -fx-background-radius:3px;
  -fx-border-width:1 1 1 1;
  -fx-border-radius:3px;
  -fx-border-color:#585656;
}

.boxBorder {
  -fx-border-color:#585656;
  -fx-background-color:#1F1F1F;
  -fx-border-width:1 1 1 1;
  -fx-border-radius:3px;
}


/*
    SPINNER
*/

.spinner {
    -fx-background-color:transparent;
    -fx-text-fill:#B6B6B6;
    -fx-background-radius:2px;
}

.spinner > .text-field {
  -fx-background-color:#3D3D3D;
  -fx-text-fill:#B6B6B6;
  -fx-background-radius:2 0 0 2;
  -fx-border-color:#2c2d32;
  -fx-border-width:1 0 1 1;
  -fx-border-radius:2px;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button{
    -fx-background-color:#323232;
    -fx-border-width:1 1 1 1;
    -fx-border-radius:0 2 2 0;
    -fx-border-color:#2c2d32;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #595959;
    -fx-font-size: 13px;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color:#3f3f3f;
}


/*
    DATEPICKER
*/

.date-picker {
    -fx-background-color:transparent;
}

.date-picker > .text-field{
  -fx-background-color:#3D3D3D;
  -fx-background-radius:0px;
  -fx-text-fill:#B6B6B6;
  -fx-border-color:#2c2d32;
  -fx-border-width:1 1 1 1;
  -fx-border-radius:2 0 0 2;
}

.date-picker > .arrow-button {
    -fx-background-color: #323232;
    -fx-background-radius:0px;
    -fx-border-width:1 1 1 1;
    -fx-border-radius:0 2 2 0;
    -fx-border-color:#2c2d32;
}



.date-picker > .arrow-button:hover {
    -fx-background-color:#3f3f3f;
}

.date-picker > .arrow-button > .arrow {
    -fx-background-color:#595959;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.416667em 0.416667em 0.333333em 0.333333em;
    -fx-scale-shape: true;
}


.date-picker-popup {
    -fx-background-color:#323232;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
    -fx-alignment: CENTER; /* VBox */
    -fx-spacing: 0; /* VBox */
    -fx-padding: 0.083333em; /* 1 1 1 1 */
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}
.date-picker-popup > .month-year-pane {
    -fx-padding: 0.588883em 0.5em 0.666667em 0.5em; /* 7 6 8 6 */
    -fx-background-color:#24211F;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
}
.date-picker-popup > * > .spinner {
    -fx-spacing: 0.25em; /* 3 */
    -fx-alignment: CENTER;
    -fx-fill-height: false;
}
.date-picker-popup > * > .spinner > .button {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1, 2;
    -fx-color: transparent;
    -fx-background-radius: 0;
}
.date-picker-popup > * > .spinner > .button:focused {
    -fx-background-color:transparent;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
}
.date-picker-popup > * > .spinner > .button:hover {
    -fx-color: #303d6d;
}
.date-picker-popup > * > .spinner > .button:armed {
    -fx-color: -fx-pressed-base;
}
.date-picker-popup > * > .spinner > .left-button {
    -fx-padding: 0 0.333333em 0 0.25em; /* 0 4 0 3 */
}
.date-picker-popup > * > .spinner > .right-button {
    -fx-padding: 0 0.25em 0 0.333333em; /* 0 3 0 4 */
}
.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: #F3F3F3;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.166667em 0.333333em 0.166667em; /* 4 2 4 2 */
    -fx-effect: dropshadow(two-pass-box , -fx-shadow-highlight-color, 1, 0.0 , 0, 1.4);
}
.date-picker-popup > * > .spinner > .button:hover > .left-arrow,
.date-picker-popup > * > .spinner > .button:hover > .right-arrow {
    -fx-background-color: #66696B;
}
.date-picker-popup > * > .spinner > .button:pressed > .left-arrow,
.date-picker-popup > * > .spinner > .button:pressed > .right-arrow {
    -fx-background-color: -fx-mark-highlight-color, derive(-fx-base,-55%);
}
.date-picker-popup > * > .spinner > .button > .left-arrow {
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M5.997,5.072L5.995,6.501l-2.998-4l2.998-4l0.002,1.43l-1.976,2.57L5.997,5.072z";
    -fx-scale-shape: true;
}
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M2.998-0.07L3-1.499l2.998,4L3,6.501l-0.002-1.43l1.976-2.57L2.998-0.07z";
    -fx-scale-shape: true;
}
.date-picker-popup > * > .spinner > .label {
    -fx-alignment: CENTER;
    -fx-text-fill:#E2E2E2;
}
.date-picker-popup > .month-year-pane > .secondary-label {
    -fx-alignment: BASELINE_CENTER;
    -fx-padding: 0.5em 0 0 0; /* 6 0 0 0 */
    -fx-text-fill: #f3622d;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: #494646;
    /*-fx-background-insets: 1 0 0 0;*/
    -fx-padding: 0;
}

.date-picker-popup > * > .date-cell { 
    -fx-background-color: transparent;
    -fx-background-insets: 1, 2;
    -fx-padding: 0;
    -fx-alignment: BASELINE_CENTER;
    -fx-opacity: 1.0;
}
.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-font-size: 0.916667em;
    -fx-text-fill:#c6c6c6;
}
.date-picker-popup > * > .week-number-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 */
    -fx-border-color: #424448;
    -fx-border-width: 1px;
    -fx-background: #323232;
    -fx-background-color: #494646;
    -fx-text-fill:#4da0c1;
}


.date-picker-popup > * > .day-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 */
    -fx-border-color: #424448;
    -fx-border-width: 1px;
    -fx-font-size: 1em;
    -fx-background: #323232;
    -fx-background-color: #323232;
    -fx-text-fill: #bfbfbf;
}


.date-picker-popup > * > .hijrah-day-cell {
    -fx-alignment: TOP_LEFT;
    -fx-padding: 0.083333em 0.333333em 0.083333em 0.333333em; /* 1 4 1 4 */
    -fx-cell-size: 2.75em;
}


.date-picker-popup > * > .day-cell > .secondary-text {
    -fx-fill: #f3622d;
}
.date-picker-popup > * > .today {
    -fx-background-color: #3d3d3d;
    -fx-background-insets: 1, 2, 3;
}

.date-picker-popup > * > .day-cell:focused {
    -fx-background-color: #FFA500;
    -fx-text-fill:#000000;
}

.date-picker-popup > * > .day-cell:hover {
      -fx-background-color:#303d6d;
}

.date-picker-popup > * > .day-cell:focused,
.date-picker-popup > * > .selected,
.date-picker-popup > * > .previous-month.selected,
.date-picker-popup > * > .next-month.selected {
    -fx-background-color: #FFA500;
    -fx-text-fill:#000000;
}

.date-picker-popup > * > .previous-month:hover,
.date-picker-popup > * > .next-month:hover {

}

.date-picker-popup > * > .today:hover,
.date-picker-popup > * > .today.selected {
    -fx-background-color: #FFA500;
    -fx-text-fill:#000000;
}

.date-picker-popup > * > .day-cell:focused,
.date-picker-popup > * > .today:focused {
    -fx-background-color: #FFA500;
    -fx-text-fill:#000000;
    -fx-background-insets: 1, 2, 3;
}

.date-picker-popup > * > .day-cell:focused:hover,
.date-picker-popup > * > .today:focused:hover,
.date-picker-popup > * > .selected:focused,
.date-picker-popup > * > .today.selected:focused {
    
}

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {

}
.date-picker-popup > * > .day-cell:hover > .secondary-text,
.date-picker-popup > * > .previous-month > .secondary-text,
.date-picker-popup > * > .next-month > .secondary-text,
.date-picker-popup > * > .selected > .secondary-text {

}

.date-picker-popup > * > .previous-month.today,
.date-picker-popup > * > .next-month.today {
    
}

.date-picker-popup > * > .previous-month.today:hover,
.date-picker-popup > * > .next-month.today:hover {
    
}

/*
  The background
  There are just 3 themes: Dark theme, White theme and UV theme
*/

.windowTitle {
  -fx-background-color:#FDFDFD;
  -fx-background-radius:0 3 3 0;
  -fx-text-fill:#121212;
  -fx-font-family:"Montserrat Light";
}

.background {
  -fx-background-color:#1F2124;
  -fx-background-radius:3px;
  -fx-border-radius: 3px;
  -fx-border-color:#6C6969;
  -fx-border-width:1 1 1 1;
}

.innerBackground {
  -fx-border-width:1 0 1 0;
  -fx-border-color:#585656;
  -fx-background-color:#484040;
}

.innerBackgroundWithHover {
  -fx-border-width:1 0 1 0;
  -fx-border-color:#4C4651;
  -fx-background-color:#282828;
}

.innerBackgroundWithHover:hover {
  -fx-border-width:1 0 1 0;
  -fx-background-color:#303d6d;
}
